<table class="w-full">
  <tr>
    <td class="p-5">
      <table  width="100%" border="0" cellpadding="0" cellspacing="0"  role="presentation">
        <tr>
          <td align="center" class="font-sans text-2xl font-bold" style="color: #005555;">
           <strong> Excepteur sint occaecat cupidatat </strong>
          </td>
        </tr>
        <tr>
          <td height="20">
      
      
          </td>
        </tr>
        <tr>
      <td align="center" class="font-sans text-base font-normal" style="color: #005555;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      </td>
        </tr>
        <tr>
          <td height="20">
      
      
          </td>
        </tr>
      
        <tr>
          <td class="pr-3.5" align="center" valign="top" style="border-radius: 10px;">
            <table width="auto" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="center" valign="middle" width="auto" bgcolor="#008080" class="font-sans font-bold text-xl py-3 px-9 sm:p-6 rounded-lg">
              <a  href="#" style="text-decoration: none; color: #ffffff;" class="text-white">  Ut enim ad minim veniam</a>
              </td>
            </tr>  
            </table>
      
          </td>
        </tr>
        <tr>
          <td height="20">
      
      
          </td>
        </tr>

      </table>
    </td>
  </tr>
  
 
</table>
