<table class="w-full">
  <tr>
    <td class="pt-0px pr-20px pb-0px pl-20px">
      <table  width="100%" border="0" cellpadding="0" cellspacing="0"  role="presentation">
        <tr>
          <td height="20">
      
          </td>
        </tr>
        <tr>
          <td align="left" class="font-sans text-xs font-bold pl-5 pr-4 text-black">
           Ut enim ad minim:
          </td>
        </tr>
        <tr>
          <td height="15">
      
          </td>
        </tr>
        <tr>
          <td align="left" class="font-sans text-xs font-normal  pl-5 pr-4 text-black">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      
          </td>
        </tr>
        <tr>
          <td height="15">
      
          </td>
        </tr>
        <tr>
          <td align="left" class="font-sans text-xs font-normal text-black  pl-5 pr-4">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
      
          </td>
        </tr>

        <tr>
          <td height="15">
      
          </td>
        </tr>

        <tr>
          <td align="left" class="font-sans text-xs font-bold text-black pl-5 pr-4">
          Sint occaecat cupidatat: 
          </td>
        </tr>
        <tr>
          <td height="15">
      
          </td>
        </tr>
        <tr>
          <td align="left" valign="top" class="pl-2">
            <table width="100%" cellspacing="0" cellpadding="0">

              <tr>
                <td width="22" align="right" valign="top" class="font-sans text-xs font-normal text-black pl-3 pr-0">
1.
                </td>
                <td align="left" valign="top" class="font-sans text-xs font-normal text-left text-black pl-2 pr-0">
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </td>
              </tr>

              <tr>
                <td width="24" align="right" valign="top" class="font-sans text-xs font-normal text-black pl-3 pr-0">
                  2.
                                  </td>
                <td align="left" valign="top" class="font-sans text-xs font-normal text-left text-black pl-2 pr-0">
                  
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                </td>
              </tr>
            </table>

          </td>
        </tr>
        <tr>
          <td height="15">
      
          </td>
        </tr>

        <tr>
          <td style="font-size: 1px; background-color: #002B2B;height:1px">

          </td>
        </tr>
      </table>
    </td>
  </tr>
  
</table>
