<table class="w-full">
  <tr>
    <td style="">
      <table  width="100%" border="0" cellpadding="0" cellspacing="0"  role="presentation">
        <tr>
          <td class="p-5" width="110" align="left" valign="middle">
      
            
            <img src="header.png" alt="Logo" width="110"/>
           
          </td>
          <td width="20" >
      
          </td>
          <td class="font-sans text-xs font-normal pr-4" style="color: #002B2B;">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco<br class="desktop-only">laboris nisi ut aliquip ex ea commodo consequat.
          </td>
          
        </tr>
      </table>
    </td>
  </tr>
  
    
    
  </table>
  